.container{
    text-align: center;
    width: 50%;
    margin: auto;
}

.matCardContainer {
}

.toolbar {
    background-color: white;
    border-bottom: solid;
    border-bottom-color: rgb(103,116,190);
}

.navigateButtons {
    margin-top: 5%;
    border-color: rgb(103,116,190) !important;
    background: rgb(219, 219, 219) !important;
    
}
mat-button-toggle {
    background: rgb(219, 219, 219) !important;
    color: rgb(103,116,190);
}
mat-button-toggle:hover {
    background-color: rgb(103,116,190) !important;
    color: white;
}
.mat-button-toggle-checked {
    background-color: rgb(103,116,190) !important;
    color: white;
}